{:nrepl        {:port 8777}
 :dependencies [[day8.re-frame/http-fx "0.1.5"]
                [com.taoensso/timbre "4.10.0"]
                [binaryage/devtools "0.9.9"]
                [org.clojars.nathell/venia "0.2.6-SNAPSHOT"] ; with https://github.com/Vincit/venia/pull/37
                [org.clojure/core.incubator "0.1.4"]       ; for strint
                [markdown-clj "1.0.2"]
                [day8.re-frame/re-frame-10x "0.3.7"]
                [camel-snake-kebab "0.4.0"]
                [metosin/spec-tools "0.10.1"]
                [cider/cider-nrepl "0.24.0"]
                [bidi "2.1.3"]
                [nubank/workspaces "1.0.15"]
                [re-frame "0.10.7"]
                [alandipert/storage-atom "2.0.1" :exclusions [com.cognitect/transit-cljs]]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [com.smxemail/re-frame-cookie-fx "0.0.2"]
                [cljs-ajax "0.7.3" :exclusions [com.cognitect/transit-clj]]
                [thi.ng/geom "1.0.0-RC3"]]

 :source-paths ["client/env/dev" "client/src" "common/src" "common-pages/src"]

 :builds {:app {:target        :browser
                :module-loader true
                :modules
                {:wh              {:init-fn wh.core/init}
                 :common          {:entries    [wh.common.core]
                                   :depends-on #{:wh}}
                 :venia           {:entries    [wh.venia.core]
                                   :depends-on #{:wh}}
                 :user            {:entries    [wh.user.core]
                                   :depends-on #{:common}}
                 :login           {:entries    [wh.login.core]
                                   :depends-on #{:common}}
                 :pricing         {:entries    [wh.pricing.core]
                                   :depends-on #{:common}}
                 :company-profile {:entries    [wh.company.profile.core]
                                   :depends-on #{:common :venia}}
                 :jobs            {:entries    [wh.jobs.core]
                                   :depends-on #{:common :user}}
                 :blogs           {:entries    [wh.blogs.core]
                                   :depends-on #{:common :user}}
                 :issues          {:entries    [wh.issues.core]
                                   :depends-on #{:common :user :venia}}
                 :logged-in       {:entries    [wh.logged-in.core]
                                   :depends-on #{:common :user :venia}}
                 :admin           {:entries    [wh.admin.core]
                                   :depends-on #{:logged-in}}
                 :register        {:entries    [wh.register.core]
                                   :depends-on #{:user :login :venia}}
                 :company         {:entries    [wh.company.core]
                                   :depends-on #{:logged-in :jobs}}
                 :search          {:entries    [wh.search.core]
                                   :depends-on #{:common :user :venia}}
                 :landing-page    {:entries    [wh.landing-page.core]
                                   :depends-on #{:common}}
                 :profile         {:entries    [wh.profile.core]
                                   :depends-on #{:common :venia}}
                 :rich-editor     {:entries    [wh.components.rich-text-field.core]
                                   :depends-on #{:common}}
                 :chart           {:entries    [wh.components.stats.core]
                                   :depends-on #{:common}}}

                :output-dir       "target/resources/public/js"
                :asset-path       "/js"
                :compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}}
                :devtools         {:watch-dir "client/resources/public"
                                   :http-root "public"
                                   :http-port 8700
                                   :preloads  [shadow.remote.runtime.cljs.browser
                                               devtools.preload
                                               day8.re-frame-10x.preload]}}

          :cards {:target     nubank.workspaces.shadow-cljs.target
                  :ns-regexp  "-(test|cards)$"
                  :output-dir "client/resources/public/js/workspaces"
                  :asset-path "/js/workspaces"
                  :preloads   []
                  :devtools   {:watch-dir "client/resources/public"
                               :http-root "client/resources/public"
                               :http-port 3500
                               :preloads  [shadow.remote.runtime.cljs.browser
                                           devtools.preload]}}}}
