.carousel
  position: relative

.carousel__pips-wrapper
  position: absolute
  bottom: 0
  width: 100%

.carousel__pips
  display: flex
  justify-content: center

.carousel-pip
  .icon
    fill: $light-red
    width: 15px
    height: 15px

.carousel-pip + .carousel-pip
  margin-left: 14px

.carousel-pip--active
  .icon
    fill: $red

.carousel-pip--clickable
  cursor: pointer

.carousel-items
  position: absolute
  top: 0
  left: 0
  right: 0

.carousel-item
  position: absolute
  top: 0
  left: 0
  right: 0
  opacity: 0
  visibility: hidden
  transition: visibility 0s linear 0.5s, opacity 0.5s

.carousel-item--active
  opacity: 1
  visibility: visible
  transition: visibility 0s linear 0s, opacity 0.5s

.carousel__arrows
  position: absolute
  display: flex
  width: 100%
  justify-content: space-between

.carousel__arrows--bottom
  height: 70px
  bottom: -25px
  .carousel-arrow
    .icon
      height: 70px

.carousel-arrow
  cursor: pointer
  &:hover
    .icon
      fill: $hover-orange
  .icon
    fill: $red
    height: 100%
    width: 32px

.carousel-arrow--disabled
  cursor: default
  pointer-events: none
  &:hover
    .icon
      fill: $disabled-gray
  .icon
    fill: $disabled-gray
