.stats
  +desktop
    grid-area: 1 / 3 / 2 / 4

.stats svg
  width: 100%

.stats__item
  display: grid
  grid-template-columns: 50px 140px 1fr
  grid-template-rows: 36px auto
  height: 68px
  border-bottom: 1px solid $pale-gray
  align-items: center

.stats__icon
  grid-area: 1 / 1 / 3 / 2
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  height: 100%
  width: 50px
  border-right: 1px solid $pale-gray
  .icon
    fill: $steel-gray !important
    width: 18px
    height: 18px

.stats__likes .icon
  width: 24px
  height: 24px

.stats__codi
  grid-template-columns: 50px 1fr
  height: 107px
  .icon
    width: 32px
    height: 32px
  .stats__value-line
    font-size: 12px
    line-height: 1.5
    margin-right: 9px
    color: $grey-darker

.stats__caption
  grid-area: 1 / 2 / 2 / 3
  font-size: 9px
  margin-left: 16px
  line-height: 24px
  align-self: end
  color: $steel-gray
  letter-spacing: 1px
  text-transform: uppercase

.stats__value-line
  align-self: start
  margin-left: 16px
  grid-area: 2 / 2 / 3 / 3

.stats__value
  font-size: 24px
  line-height: 24px
  color: $red
  letter-spacing: 0.4px
  display: inline-block
  width: 60px

.stats__increase
  display: inline-block
  padding-left: 6px
  color: $steel-gray
  font-weight: $font-medium
  font-size: 12px

.stats__chart
  grid-area: 1 / 3 / 3 / 4
  padding-right: 16px
  height: 42px
  align-self: center

.sidebar__stats
  padding: 0 !important
  h2
    font-size: 14px
    line-height: 18px
    +desktop
      padding: 7%
      padding-bottom: 0
    +mobile
      padding: 3.5%
      padding-bottom: 0
    margin-bottom: 12px
  .stats__item
    grid-template-columns: 50px 130px 1fr