@import 'colours'
@import 'text'
@import 'vars'
@import 'mixins'
@import 'animations'

$action-block-height: 25px

.card
  background-color: $background-white
  box-shadow: 0 4px 8px $card-shadow-color
  overflow: hidden
  padding: 16px
  display: grid
  grid-gap: 24px
  position: relative

  &--highlight
    box-shadow: inset 0 0 0 1px $primary-red

  +tablet
    padding: 20px
    border-radius: 8px

.company-info__logo
  grid-column: 1
  grid-row: 1/3
  height: 40px
  width: 40px
  border-radius: 2px
  object-fit: cover

.company-info__name
  font-size: 16px
  font-weight: 600
  line-height: 22px
  color: $text-black
  grid-column: 2
  grid-row: 1
  margin: 0


.company-info__job-count
  bottom: 4px
  color: $text-gray
  font-family: $font-family
  font-size: 14px
  grid-column: 2
  grid-row: 2
  height: 20px
  position: relative

.title-with-icon
  display: grid
  grid-gap: 8px
  grid-template-columns: 1fr auto
  align-items: start
  position: relative
  &::after
    content: ""
    width: 40px
    height: 20px

.company-info
  column-gap: 16px
  display: grid
  grid-template-columns: 40px 1fr
  grid-template-rows: 1fr 18px
  padding-right: 40px
  +tablet
    padding-right: 148px
  &:hover
    .company-info__name,
    .company-info__job-count
      color: $primary-red

.description
  font-family: $font-family
  font-size: 14px
  line-height: 1.5
  max-height: 44px
  margin: 0
  &--cropped
    @include line-clamp(2)

.title
  color: $text-black
  font-family: $font-family
  font-size: 16px
  font-weight: 600
  line-height: 22px
  margin: 0
  align-self: center
  &--large
    font-weight: 700
    +tablet
      font-size: 18px
      line-height: 26px
  &--margin
    margin-bottom: 8px

.title__link
  &:hover
    color: $primary-red

.issue__meta-row-wrapper
  display: flex
  align-items: center

.issue__tag-primary-language
  margin-left: auto

.job__salary
  font-weight: 600
  font-size: 14px
  line-height: 17px
  color: $text-black
  font-family: $font-family
  margin-right: 16px

.actions
  display: block
  width: 100%
  max-height: $action-block-height
  height: $action-block-height
  overflow-y: hidden
  position: relative
  overflow-x: hidden

.actions__inner
  position: absolute
  top: calc(-#{$action-block-height} - 4px)
  transition: top ease-out 0.2s
  &--open
    top: 0px

.actions__share
  display: grid
  align-items: center
  height: $action-block-height
  grid-template-columns: repeat(5, 25px)
  grid-gap: 10px
  margin-top: 1px

.actions__share-button
  cursor: pointer

.actions__share-button--center
  margin: 0 auto

.actions__share-image
  border-radius: 4px

.actions__container
  display: grid
  grid-template-columns: repeat(4, 25px)
  grid-gap: 10px
  margin-top: 4px

.actions__action
  display: block
  &--save, &--share
    fill: $grey500
    svg
      height: 18px
      width: 20px
  &--share
    +mobile
      display: none
  &--saved-icon
    fill: $primary-red

.button
  border-radius: 4px
  height: 40px
  align-items: center
  display: flex
  justify-content: center
  background: $primary-red
  border: 1px solid $border-red
  box-sizing: border-box
  color: $text-white
  padding: 0 20px

  font-family: $font-family
  font-size: 12px
  white-space: nowrap
  font-weight: 600
  letter-spacing: 0.02em
  line-height: 135%
  text-transform: capitalize

  +tablet
    font-size: 13px
    padding: 0 40px

  &:hover
    background: $highlight-red
    color: $primary-red
    cursor: pointer
  &--inverted
    background: transparent
    border: none
    color: $primary-red
    padding: 0 20px
  &--short
    padding: 0 40px

  &--dark
    border: 1px solid transparent
    color: $text-white
    background: $grey500

    &:hover
      background: $grey300
      color: $text-white

.article__feature
  height: 154px
  margin: -20px -20px 0 -20px
  overflow: hidden

.article__feature-img
  height: 100%
  object-fit: cover
  width: 100%

.article__boost
  display: none
  font-family: $font-family
  font-size: 12px
  font-weight: 500
  grid-column: 1
  grid-row: 1/4
  line-height: 18px
  text-align: center
  color: $grey400
  margin-top: 4px
  +tablet
    display: block

.article__boost-icon
  height: 22px
  width: 20px
  fill: white

.article__boost-icon-wrapper
  background: $grey400
  width: 40px
  height: 40px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 8px

.article__content-wrapper
  display: flex
  .article__boost
    margin-right: 24px

.entity-icon
  align-items: center
  display: flex
  justify-content: center
  background: $iceberg
  fill: $iceberg-dark
  border-radius: 50%
  height: 30px
  width: 30px
  min-width: 30px
  min-height: 30px
  position: absolute
  right: 0
  top: -1px
  +tablet
    height: 36px
    width: 36px
    min-width: 36px
    min-height: 36px

  &--highlight
    background: $highlight-red
    fill: $primary-red
    animation: shake 6s cubic-bezier(.36,.07,.19,.97) infinite

  &__icon
    height: 1.3rem
    width: 1.4rem
    +tablet
      height: 1.5rem
      width: 2rem

.entity-description
  background: $iceberg
  color: $iceberg-dark
  padding: 0 6px 0 8px
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  font-weight: 700
  text-transform: capitalize
  white-space: nowrap
  font-size: 10px
  line-height: 22px
  margin-left: 4px
  letter-spacing: 0.02em
  position: absolute
  right: 0
  top: 16px
  +tablet
    font-size: 12px
    padding: 0 12px
    line-height: 28px

  &--highlight
    border-right: 1px solid $primary-red
    background: $highlight-red
    color: $primary-red

  &--adjective
    display: none
    +tablet
      display: inline-block
      margin-right: 4px

  &--icon-wrapper
    display: flex
    align-items: center

  &--icon
    width: 13px
    height: 13px
    margin-right: 4px
    +tablet
      display: none

.author
  align-items: center
  display: flex

.author__img
  border-radius: 50%
  height: 24px
  margin-right: 8px
  width: 24px

.article__time
  font-family: $font-family
  font-size: 14px
  line-height: 17px

.author__name
  font-family: $font-family
  font-size: 14px
  line-height: 17px
  border-bottom: 1px solid $grey200

.footer
  display: flex
  align-items: center
  justify-content: flex-end
  padding-top: 8px
  &--compound
    justify-content: space-between

  +tablet
    border-top: 1px solid $border-gray
    padding-top: 16px

.footer__buttons
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 16px

.header
  display: flex
  justify-content: space-between
  align-items: center
  .entity-icon
    margin-left: 8px

.meta-row
  display: flex
  flex-wrap: wrap
  align-items: center
  width: 100%
  margin-bottom: -6px
  & > *
    margin-right: 16px
    margin-bottom: 6px

.text-with-icon
  font-weight: 500
  font-size: 14px
  line-height: 17px
  color: $text-black
  display: flex
  font-family: $font-family

.text-with-icon__icon
  bottom: 1px
  height: 16px
  margin-right: 8px
  position: relative
  width: 16px

.inner-card
  border-radius: 4px
  border: 1px solid $border-gray
  padding: 16px
  display: grid
  grid-gap: 18px
  +tablet
    padding: 24px

  &--started-issue
    background-color: $grey100
    border-color: $grey100
    padding: 12px 24px
    &:hover
      border-color: $primary-red

.card-content
  display: grid
  grid-gap: 18px
  flex: 1

.not-found
  display: grid
  grid-gap: 28px
  justify-items: center
  &__title
    font-family: $font-family
    font-size: 18px
    line-height: 26px
    color: $text-black
    font-weight: 700
    text-align: center
  &__subtitle
    font-family: $font-family
    font-size: 16px
    line-height: 22px
    color: $text-black
    font-weight: 500
    text-align: center

.issue-company
  display: grid
  grid-template-columns: 26px auto
  grid-gap: 8px
  align-items: center

  &__name
    font-size: 13px
    line-height: 16px

  &__logo
    border-radius: 2px
    width: 26px
    height: 26px

.issue-tags
  display: inline-grid
  grid-template-columns: repeat(2, min-content)
  grid-gap: 8px

  &__wrapper
    display: inline-grid
    grid-gap: 8px
    justify-content: space-between
    +tablet
      grid-template-columns: auto auto

.issue-contributor
  display: grid
  grid-template-columns: 48px auto
  grid-gap: 16px
  position: relative

  &__title
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.02em
    max-width: 290px
    +tablet
      font-size: 16px
      line-height: 22px

    &--bold
      font-weight: 600
      &:first-of-type
        margin-right: 6px
        font-weight: 700
      &:not(:first-of-type)
        margin-left: 6px

    &--link
      border-bottom: 1px solid $grey200

  &__avatar
    border-radius: 50%
    width: 48px
    height: 48px

  &__img
    position: absolute
    height: 110%
    top: -4px
    right: 0
    display: none
    +tablet
      display: block
