@import 'mixins'
@import 'colours'
@import 'vars'

.container
  max-width: 1086px
  margin: 0 auto
  display: grid
  align-items: start
  gap: 16px
  padding: 8px

  +tablet
    grid-template-columns: 256px 1fr
    padding: 24px

.content
  display: grid
  grid-gap: 18px

.section
  background-color: $white
  border-radius: 4px
  padding: 24px 20px
  display: grid
  gap: 16px
  font-size: 14px
  line-height: 24px
  position: relative
  box-shadow: 0 4px 8px $card-shadow-color

  &--profile
    gap: 24px

  &--highlighted
    border: 1px solid $primary-red

  &__buttons
    display: flex
    flex-wrap: wrap
    margin-bottom: -8px
    & > *
      margin-right: 8px
      margin-bottom: 8px

.avatar
  width: 100px
  height: 100px
  border-radius: 50%
  margin: 0 auto
  border: 1px solid $primary-red
  +tablet
    width: 180px
    height: 180px

.username
  font-size: 24px
  line-height: 28px
  font-weight: 700
  letter-spacing: 0.02em

.summary
  font-size: 14px
  line-height: 22px
  @include line-clamp(10)

.separator
  background-color: $grey200
  height: 1px
  margin: 0

.meta-rows
  display: grid
  grid-gap: 8px

.meta-row
  display: flex
  align-items: center
  font-size: 14px
  line-height: 14px

  &__icon
    margin-right: 8px
    fill: $grey500

  &__description
    padding-bottom: 2px
    border-bottom: 1px solid $grey200

.title
  font-size: 20px
  line-height: 24px
  font-weight: 700
  letter-spacing: 0.02em

.subtitle
  font-size: 11px
  line-height: 12px
  text-transform: uppercase
  letter-spacing: 0.5px
  font-weight: 600
  color: $grey300

.edit
  position: absolute
  top: 28px
  right: 20px

  &--small
    top: 16px
    right: 16px

  &__small-icon
    height: 1.2rem
    width: 1.2rem

.button
  border-radius: 4px
  height: 40px
  align-items: center
  display: inline-flex
  justify-content: center
  background: $primary-red
  border: 1px solid $primary-red
  box-sizing: border-box
  color: $text-white
  padding: 0 20px

  font-family: $font-family
  font-size: 12px
  white-space: nowrap
  font-weight: 600
  letter-spacing: 0.02em
  line-height: 16px

  +tablet
    font-size: 13px
    padding: 0 32px

  &:hover
    background: $highlight-red
    color: $primary-red
    cursor: pointer

  &--small
    padding: 0 16px
    height: 32px

.view-field
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin-bottom: 8px

  +tablet
    flex-direction: row

  &__label
    font-weight: 500
    margin-right: 16px
    white-space: nowrap
    width: 180px
  &__content
    flex: 1

.resource
  color: $grey500
  border-bottom: 1px solid $grey400

.top-tech
  border: solid 1px $highlight-red
  display: inline-flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 12px
  width: 100px
  height: 100px
  position: relative
  border-radius: 4px

  &__icon
    width: 22px
    height: 22px
    top: 8px
    right: 8px
    margin-bottom: 14px
    fill: $primary-red
    opacity: 0.9
    position: absolute

  &__label
    height: auto
    font-size: 12px
    font-weight: 600
    font-stretch: normal
    font-style: normal
    line-height: 1.14
    letter-spacing: 0.5px
    text-align: center
    color: $primary-red
    text-transform: capitalize
    max-width: 86px
    @include line-clamp(2)

.skills
  display: flex
  flex-wrap: wrap
  margin-right: -8px
  margin-bottom: -8px

  & > *
    margin-right: 8px
    margin-bottom: 8px

.meta-separator
  padding: 0 6px

.article
  border: 1px solid $grey200
  border-radius: 4px
  padding: 16px
  display: grid
  grid-gap: 8px
  font-size: 14px
  line-height: 18px
  position: relative

  &__title
    font-weight: 600
    max-width: calc(100% - 20px)

    &:hover
      color: $primary-red

  &__meta
    color: $grey300
    font-size: 13px

.issue
  border: 1px solid $grey200
  border-radius: 4px
  padding: 16px
  display: grid
  grid-gap: 12px
  font-size: 14px
  line-height: 18px
  position: relative

  &__meta
    display: flex
    flex-direction: column
    margin-bottom: -12px
    & > *
      margin-bottom: 12px
    +tablet
      flex-direction: row
      height: 26px
      align-items: center
      justify-content: space-between
      margin-bottom: 0
      & > *
        margin-bottom: 0

  &__additional-meta
    display: flex

  &__meta-elm
    display: flex
    align-items: center
    color: $grey300
    font-size: 13px

  &__meta-icon
    fill: $grey300
    margin-right: 8px

  &__creator
    display: flex
    align-items: center

  &__creator-avatar
    width: 26px
    height: 26px
    margin-right: 8px
    border-radius: 4px

  &__creator-name
    font-size: 13px
    color: $grey300

  &__title
    font-weight: 600
    max-width: calc(100% - 20px)

    &:hover
      color: $primary-red

.access-settings
  display: grid
  grid-template-columns: auto 1fr
  grid-gap: 8px

  &__title
    font-size: 14px
    font-weight: 600
    letter-spacing: 0.03em

  &__title-wrapper
    display: flex
    align-items: center
    & > *
      margin-right: 8px

  &__description
    display: grid
    grid-gap: 6px
