@import 'mixins'
@import 'colours'
@import 'vars'

.container
  max-width: 1086px
  margin: 0 auto
  display: grid
  align-items: start
  gap: 16px
  padding: 8px

  +mobile
    padding: 8px 0
    overflow-x: hidden

  +tablet
    grid-template-columns: 256px 1fr
    padding: 24px

.content
  display: grid
  grid-gap: 18px

.underline-link
  border-bottom: 1px solid $grey200
  word-break: break-word
  line-height: 1.3

.section
  background-color: $white
  border-radius: 4px
  padding: 24px 20px
  display: grid
  gap: 14px
  font-size: 14px
  line-height: 24px
  position: relative
  box-shadow: 0 4px 8px $card-shadow-color

  +mobile
    border-radius: 0

  &--profile
    gap: 24px
    +tablet
      position: sticky
      top: 96px

  &--highlighted
    border: 1px solid $primary-red

  &--admin
    gap: 24px

  &__buttons
    display: flex
    flex-wrap: wrap
    margin-bottom: -8px
    & > *
      margin-right: 8px
      margin-bottom: 8px

.avatar
  width: 100px
  height: 100px
  border-radius: 50%
  margin: 0 auto
  border: 1px solid $primary-red
  object-fit: cover
  +tablet
    width: 180px
    height: 180px

.username
  font-size: 24px
  line-height: 28px
  font-weight: 700
  letter-spacing: 0.02em

.summary
  font-size: 14px
  line-height: 22px
  @include line-clamp(10)

.separator
  background-color: $grey200
  height: 1px
  margin: 0

.meta-rows
  display: grid
  grid-gap: 8px

.meta-row
  display: flex
  align-items: center
  font-size: 14px
  line-height: 14px
  font-weight: 400

  &--stackoverflow
    color: $stackoverflow-orange
  &--twitter
    color: $twitter-blue

  &__icon
    margin-right: 8px
    fill: $grey500

  &__description
    padding-bottom: 2px
    border-bottom: 1px solid $grey200

.title
  font-size: 20px
  line-height: 24px
  font-weight: 700
  letter-spacing: 0.02em

.subtitle
  font-size: 11px
  line-height: 12px
  text-transform: uppercase
  letter-spacing: 0.5px
  font-weight: 600
  color: $grey300

.edit
  position: absolute
  top: 28px
  right: 20px
  color: $grey400

  &--small
    top: 16px
    right: 16px

  &__small-icon
    height: 1.2rem
    width: 1.2rem

  &:hover
    opacity: 0.5

.edit-button
  position: absolute
  top: 28px
  right: 20px
  color: $grey400
  cursor: pointer
  border: none
  background: transparent

  &__icon
    fill: $grey400
    &--editing
      width: 24px
      height: 24px
      margin: -4px -4px 0 0

  &:hover
    opacity: 0.5

.button
  border-radius: 4px
  height: 40px
  align-items: center
  display: inline-flex
  justify-content: center
  background: $primary-red
  border: 1px solid $primary-red
  box-sizing: border-box
  color: $text-white
  padding: 0 20px
  min-width: 100px
  &:hover
    background: $highlight-red
    color: $primary-red
    cursor: pointer

  &--inverted
    color: $primary-red
    background-color: white
    font-weight: bold
  &--github
    color: $github-black
    background-color: $white
    border-color: $github-black
    font-weight: bold
    &__icon
      fill: $github-black
      margin-right: 8px
    &:hover
      background-color: $github-black
      color: $white
      .button--github__icon
        fill: $white

  font-family: $font-family
  font-size: 12px
  white-space: nowrap
  font-weight: 600
  letter-spacing: 0.02em
  line-height: 16px

  +tablet
    font-size: 13px
    padding: 0 32px

  &:disabled
    cursor: not-allowed

  &--small
    padding: 0 16px
    height: 34px

  &--neutral
    background: $grey500
    border-color: $grey500
    &:hover
      color: $white
      border-color: $grey500
      background: $grey300

  &--neutral-inverted
    background: $white
    color: $grey500
    border-color: $grey500
    &:hover
      border-color: $grey500
      color: $grey500
      background: $grey200

  &--inverted
    background: $white
    color: $primary-red

.view-field
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin-bottom: 8px

  +tablet
    flex-direction: row

  &__label
    font-weight: 500
    margin-right: 16px
    white-space: nowrap
    width: 180px
  &__content
    flex: 1

.resource
  color: $grey500
  border-bottom: 1px solid $grey400

.top-tech
  border: solid 1px $highlight-red
  display: inline-flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 12px
  width: 100px
  height: 100px
  position: relative
  border-radius: 4px

  &__icon
    width: 22px
    height: 22px
    top: 8px
    right: 8px
    margin-bottom: 14px
    fill: $primary-red
    opacity: 0.9
    position: absolute

  &__label
    height: auto
    font-size: 12px
    font-weight: 600
    font-stretch: normal
    font-style: normal
    line-height: 1.14
    letter-spacing: 0.5px
    text-align: center
    color: $primary-red
    text-transform: capitalize
    max-width: 86px
    @include line-clamp(2)

.skills
  display: flex
  flex-wrap: wrap
  margin-right: -8px
  margin-bottom: -8px
  & > *
    margin-right: 8px
    margin-bottom: 8px

  &__content
   display: block
   & > * + *
     margin-top: 18px

.meta-separator
  padding: 0 6px

.article
  border: 1px solid $grey200
  border-radius: 4px
  padding: 16px
  display: grid
  grid-gap: 8px
  font-size: 14px
  line-height: 18px
  position: relative

  &__title
    font-weight: 600
    max-width: calc(100% - 20px)

    &:hover
      color: $primary-red

  &__meta
    color: $grey300
    font-size: 13px

.issue
  border: 1px solid $grey200
  border-radius: 4px
  padding: 16px
  display: grid
  grid-gap: 12px
  font-size: 14px
  line-height: 18px
  position: relative

  &__meta
    display: flex
    flex-direction: column
    margin-bottom: -12px
    & > *
      margin-bottom: 12px
    +tablet
      flex-direction: row
      height: 26px
      align-items: center
      justify-content: space-between
      margin-bottom: 0
      & > *
        margin-bottom: 0

  &__additional-meta
    display: flex

  &__meta-elm
    display: flex
    align-items: center
    color: $grey300
    font-size: 13px

  &__meta-icon
    fill: $grey300
    margin-right: 8px

  &__creator
    display: flex
    align-items: center

  &__creator-avatar
    width: 26px
    height: 26px
    margin-right: 8px
    border-radius: 4px

  &__creator-name
    font-size: 13px
    color: $grey300

  &__title
    font-weight: 600
    max-width: calc(100% - 20px)

    &:hover
      color: $primary-red

.access-settings
  display: grid
  grid-template-columns: auto 1fr
  grid-gap: 8px

  &__title
    font-size: 14px
    font-weight: 600
    letter-spacing: 0.03em

  &__title-wrapper
    display: flex
    align-items: center
    & > *
      margin-right: 8px

  &__description
    display: grid
    grid-gap: 6px

.four-grid
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(2, auto)
  row-gap: 40px
  column-gap: 48px
  overflow: hidden
  +mobile
    column-gap: 24px

.grid-cell
  &:after
    content: ''
    display: block
    height: 1px
    position: absolute
    top: -20px
    background: $highlight-red
    width: calc(100% + 48px)
    left: -24px
    +mobile
      width: calc(100% + 24px)
      left: -24px
  &:before
    content: ''
    display: block
    width: 1px
    height: calc(100% + 40px)
    position: absolute
    top: -20px
    left: -24px
    background: $highlight-red

.stat-container
  padding: 12px 0 16px 0
  &--big
    padding: 12px 0 16px 24px
  position: relative
  &__title
    text-transform: uppercase
    color: $grey300
    font-size: 11px
    line-height: 12px
    letter-spacing: 0.5px
    margin-bottom: 10px
    +mobile
      font-size: 10px
      letter-spacing: 0.45px
      margin-bottom: 8px
  &__text
    color: $grey500
    font-size: 18px
    line-height: 18px
    margin-right: 34px
    font-weight: 600
    +mobile
      font-size: 14px
      margin-right: 0
  &__image
    position: absolute
    bottom: 12px
    height: 32px
    +desktop
      height: 42px
    +mobile
      height: 0
  &:nth-child(odd) > &__image
    right: 12px
  &:nth-child(even) > &__image
    right: 4px

.anchor
  visibility: hidden
  height: 0
  position: fixed
  top: calc(var(--header-height) + 12px)

.editable-section
  border: 0
  &--editing
    border: 1px solid $primary-red
    .section
      padding: 23px 19px

.skills
  &__top
    position: relative
  &__paragraph
    line-height: 22px
    width: 70%

.experiences
  display: grid
  grid-gap: 18px
  &__graph,
  &__excess
    display: grid
    grid-gap: 12px
  &__excess
    margin-bottom: 12px

.experience
  display: flex
  height: 48px
  &__visual
    height: 46px
    width: 46px
    border: 1px solid $highlight-red
    position: relative
  &__icon
    margin: 0 auto
    display: block
    height: 32px
    width: 32px
    transform: translateY(calc(50% - 10px))
    fill: $grey500
  &__initial
    width: fit-content
    height: fit-content
    margin: 0 auto
    transform: translateY(50%)
    color: $grey500
    font-size: 24px
    font-weight: 500

.experience-bar
  width: 100%
  height: 32px
  border: 1px solid $highlight-red
  border-left: 0
  margin: auto 0
  position: relative
  &__bg
    background-color: $highlight-red
    width: 0px
    height: 100%
    position: absolute
    top: 0
    display: flex
    align-items: center
  &__text-inner
    font-weight: 500
    padding: 0px 8px
    color: $primary-red
    white-space: nowrap
    text-transform: uppercase
    font-size: 11px
    line-height: 12px
    letter-spacing: 0.5px

@mixin range-input-thumb-style
  border: 3px solid $primary-red
  box-sizing: border-box
  height: 18px
  width: 18px
  border-radius: 50%
  background: $white
  cursor: pointer

.experience-slider
  width: 100%
  display: grid
  grid-template-rows: auto 18px
  margin-left: 18px
  &__text
    width: 100%
  &__input
    width: 100%
    cursor: pointer
    appearance: none
    background: $primary-red
    outline: none
    opacity: 0.85
    transition: opacity .2s
    height: 3px
    border-radius: 4px
    &::-webkit-slider-thumb
      -webkit-appearance: none
      @include range-input-thumb-style
    &::-moz-range-thumb
      @include range-input-thumb-style
    &:hover
      opacity: 1

.github-contributions-container
  grid-row: 1/3
  grid-column: 2
  +mobile
    grid-row: 2
    grid-column: 1/3
    display: flex
    flex-direction: column
    align-items: center

.github-contributions
  display: grid
  grid-template-columns: 40px min-content
  grid-template-rows: 30px 1fr
  padding-right: 24px
  .legend__months
    grid-row: 1
    grid-column: 2
    display: flex
    justify-content: space-between
    font-size: 10px
  .legend__days
    grid-row: 2
    grid-column: 1
    display: flex
    flex-direction: column
    font-size: 10px
    margin-right: 8px
    &__day
      flex: 1
      display: flex
      align-items: center
  .grid
    grid-row: 2
    grid-column: 2
    display: flex
    &__week
      &:not(:last-child)
        margin-right: 4px
    &__day
      border-radius: 2px
      width: 10px
      height: 10px
      &:not(:last-child)
        margin-bottom: 4px

.profile-hidden
  &__icon
    width: 26px
    height: 26px
    color: $grey300
    margin-right: 8px

  display: flex
  width: 100%
  justify-content: center
  align-items: center
  font-size: 18px

.edit-tech
  display: grid
  grid-gap: 16px
  grid-template-columns: 24px 1fr
  grid-template-rows: repeat(2, 24px auto auto auto)

  +mobile
    display: block

  &__number
    @include number-circle(24px)
    grid-column-start: 1
    +mobile
      float: left
      margin-right: 6px

  &__title
    font-size: 14px
    font-weight: 500
    line-height: 24px
    color: $grey500
    +mobile
      margin-bottom: 6px

  &__description
    font-size: 14px
    line-height: 22px
    +mobile
      margin-bottom: 12px

  &__offset
    grid-column-start: 2

  &__buttons
    display: flex
    justify-content: flex-end

.skills-ratings
  width: 100%
  +mobile
    margin-bottom: 18px

.interests
  display: block
  &__text
    font-size: 14px
    line-height: 22px
    margin: 8px 0 18px 0

.modal-content
  margin-top: -12px
  display: grid
  grid-auto-rows: auto
  grid-gap: 18px

.short-wrapper
  max-width: 320px

.other-urls
  display: grid
  grid-gap: 12px

.private-update
  &__wrapper
    max-width: 90%
    display: grid
    grid-gap: 14px
    +tablet
      max-width: 480px

    &--outer
      position: relative

  &__checkboxes
    display: grid
    row-gap: 4px

  &__checkboxes-wrapper
    display: grid
    grid-template-columns: max-content max-content
    grid-gap: 24px

  &__salary
    display: grid
    grid-gap: 8px
    max-width: 60%
    align-items: flex-end
    +tablet
      max-width: 100%
      grid-template-columns: 1fr 120px 120px

  &__buttons
    display: grid
    justify-content: right
    grid-template-columns: auto auto
    grid-gap: 8px
    +tablet
      position: absolute
      right: 0
      bottom: 0

  &__preferred-locations
    display: grid
    grid-gap: 4px

.subsection
  display: grid
  align-items: start
  +tablet
    grid-template-columns: 120px 1fr
    grid-gap: 16px

  &__title
    text-transform: uppercase
    display: flex
    align-items: center
    color: $grey300
    font-size: 11px
    letter-spacing: 0.5px
    line-height: 16px
    text-align: right
    margin-top: 3px
    +tablet
      justify-content: flex-end

  &__wrapper
    display: grid
    grid-gap: 24px

.admin
  &__buttons
    display: grid
    grid-template-columns: auto auto
    grid-gap: 8px
    top: 20px
    right: 20px
    +tablet
      position: absolute

  &__secondary-text
    font-weight: 400
    color: $grey300
    line-height: 1.1
    font-size: 13px

  &__secondary-link
    border-bottom: 1px solid $grey200
    font-size: 13px

.job-list
  display: grid
  grid-gap: 12px

.toggle-view
  background: $white
  border-radius: 4px
  padding: 16px
  height: auto
  position: fixed
  display: none
  bottom: 16px
  left: 10px
  border: 1px solid $grey500
  z-index: 1
  +tablet
    display: flex

  &__title
    font-size: 13px
    font-weight: 600
    letter-spacing: 0.03em
    margin-right: 16px

  &__link
    height: 32px
    background: $grey200
    color: $grey500
    font-size: 13px
    display: inline-block
    padding: 0 24px
    font-weight: 500

    &--selected
      background: $grey500
      color: $grey200

.job-application
  display: grid
  grid-gap: 4px
  justify-items: start

  &__wrapper
    display: grid
    grid-gap: 12px
    align-items: center
    +tablet
      grid-template-columns: auto auto

  &__controls
    display: grid
    grid-gap: 8px
    margin-top: 4px
    grid-template-columns: auto auto

  &__note
    background: $grey100
    color: $grey500
    border-radius: 4px
    padding: 8px 16px
    font-size: 13px
    line-height: 21px

  &__note-title
    font-weight: 500

  &__applied-on
    line-height: 1.1
    font-size: 13px
    color: $grey300
    margin-right: 8px

  &__state
    line-height: 1.1
    font-size: 13px
    font-weight: 600
    color: $primary-red
    margin-right: 12px

  &__state-wrapper
    line-height: 1.1



.cta
  display: flex
  justify-content: space-between
  &__content
    flex: 1
  &__container
    display: flex
  &__text-container
    display: flex
    align-items: center
    flex: 1
  &__text-field
    margin-right: 12px
  &__list, &__text
    font-size: 14px
    line-height: 1.71
    margin-bottom: 24px
    font-weight: 500
  &__list
    list-style: disc
    margin-left: 16px
  &__title
    color: $text-black
    font-size: 18px
    font-weight: bold
    line-height: 1.44
    margin: 0 0 16px 0
    padding: 0
  &__image
    object-fit: contain
    height: 100%
    width: 100%
    &__container
      +mobile
        display: none
      &--girl
        flex-basis: 68px
        margin: 0 32px
      &--document
        flex-basis: 150px
        align-self: start
        margin-left: 6px
        +desktop
          margin: 0 30px
      &--computer-guy
        flex-basis: 86px
        align-self: start
        margin-top: 16px
        +desktop
          margin-top: 0
          flex-basis: 136px
          align-self: center
          margin-left: 12px
      &--people
        align-self: start
        flex-basis: 236px
        +desktop
          margin: 0 40px 0 50px
          align-self: center
  &__button
    &--full
      width: 100%
    &--small
      width: 180px
  &__section
    display: flex
    flex-direction: column
    align-items: start
    +desktop
      flex-direction: row
      align-items: center
    &__seperator
      margin: 18px 0 18px 8px
      text-align: left
      +desktop
        text-align: center
        margin: 0
      color: $grey300
      width: 70px
      font-size: 11px
      line-height: 1.09
      letter-spacing: 0.5px
      font-weight: 700

.text-field
  flex: 1
  padding: 0 16px
  height: 34px
  border: solid 1px #e8e8e8
