@import 'colours'
@import 'button'
@import 'admin_preview'

.create-promotion
  max-width: 674px
  &__description
    width: 100%
    margin-bottom: 24px
  &__select-channel
    display: flex
    align-items: baseline
    margin-bottom: 24px
    &__title
      margin-left: 14px
      font-weight: 600
      font-size: 18px
      line-height: 22px
      &--active, &:hover
        text-decoration: underline
        color: $primary-red
  &__send
    margin-top: 24px
    &__status
      color: $primary-red
      text-align: center
      flex: 1
      margin-bottom: 24px
    &__button
      width: 300px

.button--promote
  &,
  // overriding job page buttons styles
  \:global(.job__admin-buttons) &
    @include button
    display: flex
    font-size: 11px
    text-transform: uppercase
    +tablet
      font-size: 11px

.preview
  &__promotion
    @extend .object
    border-top: 2px solid $aquamarine
