{:cljs-base       {:output-to "target/resources/public/js/wh.js"}
 :common          {:entries   #{wh.common.core}
                   :output-to "target/resources/public/js/common.js"}
 :user            {:entries    #{wh.user.core}
                   :output-to  "target/resources/public/js/user.js"
                   :depends-on [:common]}
 :venia           {:entries   #{wh.venia.core}
                   :output-to "target/resources/public/js/venia.js"}
 :login           {:entries    #{wh.login.core}
                   :output-to  "target/resources/public/js/login.js"
                   :depends-on [:common]}
 :pricing         {:entries    #{wh.pricing.core}
                   :output-to  "target/resources/public/js/pricing.js"
                   :depends-on [:common]}
 :company-profile {:entries    #{wh.company.profile.core}
                   :output-to  "target/resources/public/js/company-profile.js"
                   :depends-on [:common :venia]}
 :jobs            {:entries    #{wh.jobs.core}
                   :output-to  "target/resources/public/js/jobs.js"
                   :depends-on [:common :user]}
 :blogs           {:entries    #{wh.blogs.core}
                   :output-to  "target/resources/public/js/blogs.js"
                   :depends-on [:common :user]}
 :issues          {:entries    #{wh.issues.core}
                   :output-to  "target/resources/public/js/issues.js"
                   :depends-on [:common :user :venia]}
 :logged-in       {:entries    #{wh.logged-in.core}
                   :output-to  "target/resources/public/js/logged-in.js"
                   :depends-on [:common :user :venia]}
 :admin           {:entries    #{wh.admin.core}
                   :output-to  "target/resources/public/js/admin.js"
                   :depends-on [:logged-in]}
 :register        {:entries    #{wh.register.core}
                   :output-to  "target/resources/public/js/register.js"
                   :depends-on [:user :login :venia]}
 :company         {:entries    #{wh.company.core}
                   :output-to  "target/resources/public/js/company.js"
                   :depends-on [:logged-in :jobs]}}
