/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
       url('/fonts/montserrat-v12-latin-regular.woff') format('woff');
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('/fonts/montserrat-v12-latin-italic.woff2') format('woff2'),
       url('/fonts/montserrat-v12-latin-italic.woff') format('woff');
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('/fonts/montserrat-v12-latin-500.woff2') format('woff2'),
       url('/fonts/montserrat-v12-latin-500.woff') format('woff');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('/fonts/montserrat-v12-latin-600.woff2') format('woff2'),
       url('/fonts/montserrat-v12-latin-600.woff') format('woff');
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('/fonts/montserrat-v12-latin-700.woff2') format('woff2'),
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('/fonts/montserrat-v12-latin-800.woff2') format('woff2'),
       url('/fonts/montserrat-v12-latin-800.woff') format('woff');
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('/fonts/inconsolata-v17-latin-regular.woff2') format('woff2'),
       url('/fonts/inconsolata-v17-latin-regular.woff') format('woff');
}
