$search-gap: 2.5px

.search__toggle
  width: 10px
  height: 10px
  fill: #ff7c6e
  margin-right: 5px

.searching
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color: white
  opacity: 0.8
  z-index: 1000
  display: flex
  justify-content: center
  .loader
    margin-top: 200px
    align-self: flex-start

.search__box
  .input
    border: none
    outline: none
    box-shadow: none
    padding: 0
    margin-left: 5px
    border-bottom: 1px solid $grey
    +desktop
      width: auto

.search__query
  padding: 0 10px
  display: flex
  +desktop
    align-items: center
  +mobile
    flex-direction: column
    align-items: flex-start
  .input
    flex: 1

.search__location-wrapper
  grid-area: 3 / 1 / 4 / 3
  max-height: 200px
  overflow-y: auto
  position: relative

.search__location
  display: flex

.search__location-description
  display: inline-block
  margin: 0 5px

.search__location--collapsed
  grid-area: 3 / 1 / 4 / 3
  padding: 9px 10px 9px 23px
  cursor: pointer
  display: flex
  align-items: center
  .search__roll
    float: none

.search__region
  flex: 1 0 0%
  padding: 9px 10px 9px 23px

.search__tags
  .tags
    max-height: 200px
    overflow: hidden
    li
      cursor: pointer
      opacity: 0.4
      transition: opacity 200ms linear
      &.tag--selected
        opacity: 1

.search__roll
  width: 28px
  height: 28px
  fill: $main-black
  float: right
  cursor: pointer
  transition: transform 0.3s ease

.search__tags-roll
  margin-top: 40px
  transform: rotate(180deg)

.search__location-roll--expanded
  transform: rotate(180deg)
  float: none
  position: absolute
  top: 10px
  right: 10px

.search__location-hint
  color: $greyish
  flex: 1

.search__tags--collapsed
  .search__roll
    transform: none
  .tags
    max-height: 30px
    transform: none

.search__tags-text
  display: flex
  align-items: flex-start
  +mobile
    flex-direction: column
  .field
    display: flex
    flex: 1
  .control
    flex: 1
  .input
    +desktop
      width: 100%
  .input__suggestions
    padding: 0 5px
    position: absolute
    width: 400px
    max-width: 100%
    z-index: 10
    background: white

.search__country
  margin-left: 20px

.search__city
  margin-left: 20px

.search__flag
  font-size: 20px
  vertical-align: middle

.jobs-board__header
  &.skeleton
    text-indent: -9999px
    h1
      @include skeleton
      width: 200px
      height: 24px
    h2
      @include skeleton
      width: 550px
      height: 24px
    h3
      @include skeleton
      width: 650px
      height: 24px
    .jobs-board__header__filter-toggle
      display: block
      @include skeleton
      width: 130px
      height: 24px

.job-list-header
  &.skeleton
    @include skeleton
    text-indent: -9999px
    width: 170px
    height: 22px

.search-result-count
  &.skeleton
    @include skeleton
    text-indent: -9999px
    width: 400px
    height: 22px

.jobs-board__pre-set-search
  .search-results
    .search-result-count
      font-weight: $font-semi-bold
